header, nav, main {
max-width: 1200px;
margin: auto;
}

header {
    h1 {
    font-size: 2rem;
    margin-top: 1rem;
    }
    h2 {
    font-size: 1.3rem;
    margin-top: 1rem;
    }
}

.nav {
    ul {
    padding-left: 2%;
    display: flex;
    justify-content: center;

    li a {
        padding: .7rem 2rem;
        font-size: 1rem;
    }
}
}

main {
    display: block;

    .kids {
        width: 50%;
    }
}

footer {
    background-color: black;
}