header, nav, main {
max-width: 1200px;
margin: auto;
}

header {
    h1 {
        margin: 0;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: $heavyWeight;
        color: black;
    }
    h2 {
        margin: 0;
        margin-top: 1rem;
        margin: 0;
        color: black;
        font-size: 1.3rem; 
        font-weight: normal;
        font-weight: $regularWeight;
    }
}

.nav {
    ul {
    padding-left: 2%;
    display: flex;
    justify-content: center;

    li a {
        padding: .7rem 2rem;
        font-size: 1rem;
    }
}
}

main {
    .hero {
        max-width: 75rem;
    }
    .kids {
        max-width: 75rem;
    }
}


footer {
    background-color: black;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
      }