nav {
    ul {
        display: flex;
        justify-content: center;
    }
    ul li a {
        border: none;
    }
}

// nav

    // li {width: 25%; float: left;}
    //  ul {margin-left: 2%;}
    //  ul li {width: auto;}
    //  ul li:first-child a {border-left: 1px solid #777;}
    //  ul li:last-child a {border-right: 1px solid #777;}
    //  ul li a{padding: .5rem 1rem;}




    // header h1 {
    //     font-size: 2rem;
    //     margin-top: 1rem;
    // }
    
    // header h2 {
    //     font-size: 1.3rem;
    //     margin-top: 1rem;
    // }



    // .hero {width: 100%;}
    
    
    // main figure {
    //     float: right; 
    //     width: 50%; 
    //     margin-left: 2%;
    //     padding-bottom: .5rem;
    // }
    
