nav {
        ul {
            display: flex;
            justify-content: center;
            margin-left: 2%;
        }
        ul li {width: auto;}
        ul li a {
            border: none;
            padding: .5rem 1rem;
        header h1 {
            font-size: 2rem;
            margin-top: 1rem;
        }
        header h2 {
            font-size: 1.3rem;
            margin-top: 1rem;
        }
    }
}




.hero {width: 100%;}


main {
    .kids {
        height: 50%;
        width: 50%;
    }
}