.header {
    h1 {
        margin: 0;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: $heavyWeight;
        color: black;
    }
    div h2 {
        margin: 0;
        margin-top: 1rem;
        margin: 0;
        color: black;
        font-size: 1.3rem; 
        font-weight: normal;
        font-weight: $regularWeight;
    }
}

nav {
        ul {
            display: flex;
            justify-content: space-between;
            margin-left: 2%;
        }
        ul li {width: auto;}
        ul li a {
            border: none;
            padding: .5rem 1rem;
        header h1 {
            font-size: 2rem;
            margin-top: 1rem;
        }
        header h2 {
            font-size: 1.3rem;
            margin-top: 1rem;
        }
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
      }