/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// BODY
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
} // END BODY




// HEADER
.header {
    background-color: white;

    header {
        padding: 0rem $gutter;
        padding: .5rem 1%;
        display: grid;
        grid-template-columns: 120px auto;

        h1 {
            margin: 0;
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: $heavyWeight;
            color: black;
        }

        h2 {
            margin: 0;
            margin-top: 1rem;
            margin: 0;
            color: black;
            font-size: 1.3rem; 
            font-weight: normal;
            font-weight: $regularWeight;
        }
    }
} // END HEADER




// NAV

.nav {
        background-color: #111;
        font-family: $fontFamily;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;

    a {
        display: block;
        padding: .8rem 0; /* 44 minimum height */
        color: #eee;
        text-align: left;
        padding: .9rem 2vw;
        text-decoration: none;
        border-top: solid 1px rgb(63, 63, 63);
    }
    :hover {
        background-color: #333;
    }
}
    li.active {
        background-color: #333;
        }








// MAIN
main {
    background-color: $primaryColor;
    background-color: $secondaryColor;
    padding: 1rem $gutter;
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .hero {
        width: 100%; margin-top: .5rem;
   }

    h1 {
        margin: 0; padding-top: 1rem;
        color: white;
        font-weight: $heavyWeight;
    }

     .kids {
            height: 50%;
            width: 50%;
        }

        p {
            flex-basis: auto;
        }
    }
} // END MAIN




// FOOTER
.footer {
    background-color: $textColor; width: 100%
}

footer {
    text-align: center;
    padding: 1rem $gutter;
    color: white;
} // END FOOTER





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
    }