/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}




div#header{background-color: $primaryColor;}
header {

    padding: 1rem $gutter;

    img {
        float: left;
        margin: 0;
        padding-right: 1rem;
    }

    h1 {
        margin: 1rem;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    } // END OF H1

    h2 {
       margin: 1rem; 
       font-size: 1.2rem; 
       font-weight: $regularWeight;
     } //END OF H2
} //END OF HEADER





div#nav {background-color: #111;}
nav {

        ul {
        margin:0;
        padding: 0;
        }

        li {
        list-style-type: none;
        }

        ul li a {
        text-align: left;
        display: block;
        padding: 1rem 1rem; /*44px min*/
        color: #eee;
        text-decoration: none;
        border-top: solid 1px rgb(63, 63, 63);
        }

        ul li a:hover {
        background-color: #444;
        }

        ul li.active a {
        background-color: #333;
        }

} // END OF NAV







// MAIN
div#main {display: block;}
main {

    h1 {
        color: $secondaryColor;
        font-weight: $heavyWeight;
    }

    figure.hero {
        width: 100%;
        margin: 0 0 0 0;
    }

    figure.hero img {
        width: 100%;
    }

    figure.kids {
        width: 100%;
        margin: 0 0 0 2%;
        float: right;
    }

    figure.kids img {
        width: 100%;
    }
}


// END OF MAIN




div#footer {background-color: $primaryColor;}
footer {
    text-align: center;
    padding: 1rem $gutter;
}






/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}