/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// BODY
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
} // END BODY




// HEADER
.header {
    background-color: $primaryColor;
}

header {
    padding: 0rem $gutter;
    padding: .5rem 1%;
    display: grid;
    grid-template-columns: 120px auto;

    h1 {
        margin: 0;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: $heavyWeight;
        color: black;
    }

    h2 {
        margin: 0;
        margin-top: 1rem;
    }

    h2 {
        margin: 0;
        color: black;
        font-size: 1.3rem; 
        font-weight: normal;
        font-weight: $regularWeight;
        }
} // END HEADER




// NAV

.nav {
    ul li a {
        color: #333;
        text-decoration: none;
        display: block;
        padding: .9rem 2vw;
        border-top: solid 1px rgba (0, 0, 0, 0.2);
        text-align: center;
    }

ul li a:hover {background-color: #eee;}

ul li.active a {background-color: lighten($primaryColor, 40%);}


// div#nav {
//     background-color: green; width: 100%; float: left;
// }

// nav {
//     ul {margin:0; padding: 0;}
//     li {list-style-type: none;}

//     li.active {background-color: darken($textColor, 10%);
//     }

//     a {
//     display: block;
//     padding: .7rem 0;
//     color: white;
//     text-align: center;
//     text-decoration: none;
//     }
//      a:hover {
//          background-color: darkgreen;
//         }
// } // END NAV




// MAIN
.main {
    background-color: $primaryColor;}

    main {
    background-color: $secondaryColor;
    padding: 1rem $gutter;
    min-height: 10rem;

    .hero {
        width: 100%; margin-top: .5rem;
    }

    h1 {
        margin: 0; padding-top: 1rem;
        color: white;
        font-weight: $heavyWeight;
    }

    figure {

    img {
        width: 100px;
        margin-top: 1rem;
    }

    figure.wallpaper figcaption {
        text-align: center; font-size: .75rem;
        }
    }

     h1 {
    color: black;
    font-weight: $heavyWeight;
    }


    figure {
    margin: 0;
    width: 100%;
    img {width: 100%;}
    }

    figcaption {
    text-align: center;
    font-size: .8rem;
        }
    } // END MAIN




// FOOTER
.footer {
    background-color: green; width: 100%
}

footer {
    text-align: center;
    padding: 1rem $gutter;
    color: white;
} // END FOOTER





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}